---
import SimpleLayout from '@layouts/SimpleLayout.astro';
import { pageWiseMeta } from '@lib/config';

const { title, description } = pageWiseMeta.about;
---

<SimpleLayout
  title={title}
  description={description}
  heroTitle='Software designer, founder, and amateur astronaut.'
  heroSubtitle='I’m Spencer, a software designer and entrepreneur based in New York City. I’m the founder and CEO of Planetaria, where we develop technologies that empower regular people to explore space on their own terms.'
>
  <p>What's up</p>
</SimpleLayout>
