---
import { pageWiseMeta } from '@lib/config';
import { getCollection } from 'astro:content';
import { getAllTagsMap, getPublishedAndSortedPosts } from '@lib/utils';
import SimpleLayout from '@layouts/SimpleLayout.astro';
import ArticleCard from '@components/ui/ArticleCard.astro';

const posts = getPublishedAndSortedPosts(await getCollection('blog'));

// TODO: use this tagsMap to renders tags list on UI
const tagsMap = getAllTagsMap(posts);
const { title, description } = pageWiseMeta.blogs;
---

<SimpleLayout
  title={title}
  description={description(posts.length)}
  heroTitle='Writing on software development, system design and my journey.'
  heroSubtitle={`I have been writing since 2020, mostly around tech and my career. In total I have written ${posts.length} posts. I hope you enjoy them.`}
>
  <main>
    <section>
      <div
        role='list'
        class='grid grid-cols-1 gap-x-12 gap-y-16 sm:grid-cols-2 lg:grid-cols-3'
      >
        {posts.map((post) => <ArticleCard {...post} />)}
      </div>
    </section>
  </main>
</SimpleLayout>
