---
import { pageWiseMeta } from '@lib/config';
import SimpleLayout from '@layouts/SimpleLayout.astro';

const { title, description } = pageWiseMeta.home;
---

<SimpleLayout
  title={title}
  description={description}
  heroTitle='Crafting Code and Embracing the Unknown'
  heroSubtitle='I’m Akash, a software engineer and tech enthusiast based in Mumbai, India 🇮🇳. I’m the founder and CEO of Planetaria, where we develop technologies that empower regular people to explore space on their own terms.'
>
  <main>
    <p>Hello World!</p>
  </main>
</SimpleLayout>
