---
import { pageWiseMeta } from '@lib/config';
import SimpleLayout from '@layouts/SimpleLayout.astro';

const { title, description } = pageWiseMeta.home;
---

<SimpleLayout
  title={title}
  description={description}
  heroTitle='Crafting Code and Embracing the Unknown'
  heroSubtitle='I’m Akash Rajpurohit, a software engineer and tech enthusiast based in Mumbai, India 🇮🇳. Welcome to my digital domain, where I engineer solutions and ignite imaginations.'
>
  <main>
    <p>Hello World!</p>
  </main>
</SimpleLayout>
