---
import SimpleLayout from '@layouts/SimpleLayout.astro';
import { pageWiseMeta } from '@lib/config';

const { title, description } = pageWiseMeta.projects;
---

<SimpleLayout title={title} description={description}>
  <div slot='header-main-section'>
    <h1
      class='text-4xl font-bold tracking-tight text-zinc-800 dark:text-zinc-100 sm:text-5xl'
    >
      Things I’ve made trying to put my dent in the universe.
    </h1>
    <p class='mt-6 text-base text-zinc-600 dark:text-zinc-400'>
      I’ve worked on tons of little projects over the years but these are the
      ones that I’m most proud of. Many of them are open-source, so if you see
      something that piques your interest, check out the code and contribute if
      you have ideas for how it can be improved.
    </p>
  </div>
  <p>What's up from projects</p>
</SimpleLayout>
