<section class='giscus mx-auto'>
  <!-- Giscus Script -->
  <script
    src='https://giscus.app/client.js'
    data-repo='AkashRajpurohit/AkashRajpurohit'
    data-repo-id='MDEwOlJlcG9zaXRvcnkyNzg4MTg3NzY='
    data-category='Comments'
    data-category-id='DIC_kwDOEJ5v2M4CW6tw'
    data-mapping='pathname'
    data-strict='0'
    data-reactions-enabled='1'
    data-emit-metadata='1'
    data-input-position='top'
    data-theme='dark'
    data-lang='en'
    data-loading='lazy'
    crossorigin='anonymous'
    async
  ></script>
</section>
