---
import { heroImages } from '@lib/constants';
import { twMerge } from 'tailwind-merge';

const rotations = [
  'rotate-2',
  '-rotate-2',
  'rotate-2',
  'rotate-2',
  '-rotate-2',
];
---

<div class='mt-16 sm:mt-20'>
  <div class='-my-4 flex justify-center gap-5 overflow-hidden py-4 sm:gap-8'>
    {
      heroImages.map((image, imageIndex) => (
        <div
          class={twMerge(
            'relative aspect-[9/10] w-52 flex-none overflow-hidden rounded-xl bg-zinc-100 dark:bg-zinc-800 sm:w-72 sm:rounded-2xl',
            rotations[imageIndex % rotations.length],
          )}
        >
          <picture>
            <source type='image/webp' srcset={image.webp} />
            <source type='image/jpeg' srcset={image.jpg} />
            <img
              src={image.jpg}
              width={640}
              height={480}
              alt='headshot photos'
              class='absolute inset-0 h-full w-full object-cover'
            />
          </picture>
        </div>
      ))
    }
  </div>
</div>
