---
import { twMerge } from 'tailwind-merge';
import type { SocialType } from '@lib/constants';

import TwitterIcon from '@components/ui/icons/TwitterIcon';
import InstagramIcon from '@components/ui/icons/InstagramIcon';
import GithubIcon from '@components/ui/icons/GithubIcon';
import LinkedinIcon from '@components/ui/icons/LinkedinIcon';
import MailIcon from '@components/ui/icons/MailIcon';

const iconsMap = {
  twitter: TwitterIcon,
  linkedin: LinkedinIcon,
  instagram: InstagramIcon,
  github: GithubIcon,
  email: MailIcon,
};

type Props = {
  href: string;
  type: SocialType;
  class?: string;
};

const { href, type, class: className } = Astro.props;
const Icon = iconsMap[type] || null;
const from_url = Astro.url.toString();
---

<li role='listitem' class={twMerge('flex', className)}>
  <a
    title=`${type} logo`
    href={href}
    target='_blank'
    data-umami-event={`Social - ${type}`}
    data-umami-event-fromUrl={from_url}
    class='group flex gap-2 items-center text-sm font-medium text-zinc-800 transition hover:text-primary-500 dark:text-zinc-200 dark:hover:text-primary-500'
  >
    {
      Icon && (
        <Icon class='h-6 w-6 flex-none fill-zinc-500 transition group-hover:fill-primary-500' />
      )
    }
    <span>
      <slot />
    </span>
  </a>
</li>
