---
import { twMerge } from 'tailwind-merge';
import { slugifyTag } from '@lib/utils';

type Props = {
  tags: string[];
  selectedTag?: string;
  class?: string;
};

const { tags, selectedTag = '', class: className } = Astro.props;
---

<div class={twMerge('flex flex-wrap gap-2', className)}>
  {
    tags.map((tag) => (
      <a
        class={twMerge(
          'hover:text-primary-500',
          selectedTag === tag && 'text-primary-600 dark:text-primary-400',
        )}
        href={`/tag/${slugifyTag(tag)}/`}
      >
        <span>#️⃣ {tag}</span>
      </a>
    ))
  }
</div>
