---
import { twJoin } from 'tailwind-merge';
import CardLink from './CardLink.astro';

type Props = {
  href?: string;
  class?: string;
};

const { href, class: className } = Astro.props;
---

<h2
  class={twJoin(
    'text-lg font-semibold tracking-tight text-zinc-800 dark:text-zinc-100',
    className,
  )}
>
  {
    href ? (
      <CardLink href={href}>
        <slot />
      </CardLink>
    ) : (
      <slot />
    )
  }
</h2>
