---
import { twJoin } from 'tailwind-merge';

type Props = {
  class?: string;
};

const { class: className } = Astro.props;
---

<p
  class={twJoin(
    className,
    'relative z-10 mt-2 text-sm text-zinc-600 dark:text-zinc-400',
  )}
>
  <slot />
</p>
