---
import '@fontsource/inter';
import '@fontsource/ibm-plex-mono';
import Container from '@components/Container.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import BaseHead from '@components/BaseHead.astro';

type Props = {
  title: string;
  description: string;
};

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang='en' class='scroll-smooth'>
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body
    class='flex h-full flex-col bg-zinc-50 text-zinc-900 dark:bg-black dark:text-white'
  >
    <div class='fixed inset-0 flex justify-center sm:px-8'>
      <div class='flex w-full max-w-7xl lg:px-8'>
        <div
          class='w-full bg-white ring-1 ring-zinc-100 dark:bg-zinc-900 dark:ring-zinc-300/20'
        >
        </div>
      </div>
    </div>
    <Header />
    <Container class='mt-16 sm:mt-32 z-50'>
      <div class='relative'>
        <div class='flex flex-col lg:flex-row gap-4'>
          <header class='max-w-2xl'>
            <slot name='header-main-section' />
          </header>
          <div class='lg:max-w-xs'>
            <slot name='header-side-section' />
          </div>
        </div>
        <div class='mt-8 sm:mt-12'>
          <slot />
        </div>
      </div>
    </Container>
    <Footer />
  </body>
</html>
