---
import { twMerge } from 'tailwind-merge';

type Props = {
  number: string;
  title: string;
  class?: string;
};

const { class: className } = Astro.props;
const elementClassName = twMerge(
  'bg-clip-text text-transparent bg-gradient-to-r font-extrabold from-pink-600 to-sky-600 dark:from-pink-400 dark:to-sky-400 selection:text-gray-800 dark:selection:text-gray-200',
  className,
);
---

<span class={elementClassName}>
  <slot />
</span>
