---
import { twJoin } from 'tailwind-merge';

type Props = {
  number: string;
  title: string;
  optional?: boolean;
};

const { number, title, optional } = Astro.props;
---

<div class='step flex items-center py-4'>
  <div
    class={twJoin(
      'flex items-center justify-center border-2 border-gray-300 p-1 font-bold dark:border-gray-700 rounded-full h-8 w-8',
      optional ? 'text-rose-500' : 'text-secondary-500',
    )}
  >
    {number}
  </div>
  <h2 class='ml-3 my-0 tracking-tight font-bold'>{title}</h2>
</div>
